@import "tailwindcss";

html, body, #__next {
  height: 100%;
  width: 100%;
}
.scroll-snap {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.scroll-snap > section {
  scroll-snap-align: start;
}